a2
a3
a4
a5
a6
Best-fitting_line_for_linear_regression.pdf
ClassifierWithAHardThreshold.pdf
Fundamentals_KNN.pdf
L10.1_Perceptron_NN.pdf
L10.2_Perceptron_NN.pdf
L10.3_HopfieldNN.pdf
L10.4_BoltzmannMachine.pdf
L10-Clustering-DensityBased.pdf
L1_-_Introduction-1.pdf
L2.1_Fundamentals.pdf
L3.1_SimpleLinearRegression.pdf
L3.Knn.pdf
L4.2_Linear_Regression-Gradiant_Descent.pdf
L4.3_Polynomial_Reg_and_Normal_Eq.pdf
L4-NaiveBayes-SpamDetection.pdf
L5.1_Logistic_Regression.pdf
L5.2_Logistic_Regression.pdf
L5-MLE-LS-MAP.pdf
L9.4_Expectation_Maximization_Algorithm.pdf
L9-Clustering-Partitioning.pdf
L9._Clustering.pdf
Notes_LinearReg_Gradient_Descent.pdf
Notes-Logistic_regression.pdf
Notes-Simple_Linear_Regression.pdf
StochasticGD.pdf
